

@font-face {
    font-family: "Montserrat";
    src: url("assets/Montserrat-VariableFont_wght.ttf") format("truetype");
    font-weight: 100 900;
}


:root {
    --nav-height: 70px;
    /* So that the nav has same height as the logo and brandtext */
}


* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    /* border: 1px solid red; */
}


body{
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    
    background: #FEFEFA;
}

body.dark {
    background: #1F1F1E;
    color: #FEFEFA;
}


button {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    transition: all 0.3s ease;
    
}


ul {
    list-style: none;

    li a {
        text-decoration: none; 
        color: inherit;
        transition: all 0.3s ease;
        
    }
}

input::placeholder{
    color: black;
}

body.dark input::placeholder{
    color: #FEFEFA;
}

button:hover, a:hover {
    background-color: rgba(0, 0, 0, 0.136) !important;
}

body.dark button:hover, body.dark a:hover {
    background-color: rgba(255, 255, 255, 0.136) !important;
}


.myLayout {
    display: grid;
    grid-template-columns: 250px auto;
    /* controls the size of the sidebar */
}

.myLayout.collapsed {
    grid-template-columns: 90px auto;
}


.myNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* controls aliging of 3 nav items */

    height: var(--nav-height);
    padding-right: 10px;
    margin-bottom: 25px;

    button .myIcon {
        width:  2rem;
        aspect-ratio: 1;
    }
}



#navProfile {
    height: 70%;
    transform: translateY(-8%);

    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;

    img {
        height: 100%;
    }
}



.myIcon {
    width:  1.2rem;
    aspect-ratio: 1;
}

body.dark .myIcon {
    fill: #FEFEFA;
    color: #FEFEFA;
    z-index: 2;
}



.searchForm{
    position: relative;

    height: 42px;
    width:  80%;
    max-width: 500px;

    .myIcon {
        position: absolute;
        left: 12px;
        top: 50%;
        transform: translateY(-50%);
    }

    input {
        padding-left: 40px;

        height: 100%;
        width:  100%;

        border-radius: 7px;
        border: 1px solid gray;
    }
}


body.dark input {
    background-color: #484848;
}



.mySide .myLogo {
    display: flex;
    align-items: center;
    /* so that the brand logo and brand text are aligned vertically */

    width:  100%;
    height: var(--nav-height);
    margin-bottom: 22px;

    text-decoration: none;
    font-size: 25px;
    font-weight: 500;
    color: inherit;

    img {
        height:  80%;
        margin-right: 5px;
    }
}

.mySide.collapsed a.myLogo {
    justify-content: center;
}

.mySide.collapsed .sidebarText, .mySide.collapsed #darkModeMoon {
    display: none;
}

.mySide.collapsed #darkModeIcon {
    margin-left: 0;
}




.mySide nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* makes space between main links and bottom links */

    height: calc(100dvh - 110px);    
}



#main-links, #bottom-links {
    display: flex;
    flex-direction: column;

    gap: 20px;
    /* betwen each link in main/bottom links */
    
    a {
        height: 40px;
    }
}



#main-links li a, #bottom-links li a {
    display: flex;
    align-items: center;
    gap: 5px;
    /* between link icon and text */

    width: 100%;
    padding: 0;
    padding-left: 22px;

    font-size: 20px;
    font-weight: 450;

    .myIcon {
        width:  1.6rem;
        aspect-ratio: 1;
    }
}

.mySide.collapsed #main-links li a, .mySide.collapsed  #bottom-links li a {
    justify-content: center;
    padding-left: 0;
}



#darkModeIcon {
    margin-left: 30px;
}


.header {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 35px;

    .myIcon {
        width:  5rem;

        path {
            fill: currentColor;
            stroke: currentColor;
            stroke-width: 1.2;
        }
    }
}


#dashCards {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 20px;

    margin: 0 10px 60px;


}

.dashCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;

    height: 150px;

    border-radius: 10px;

    .myIcon {
        width:  2.2rem;
    }

    .dashCardTitle {
        font-size: 20px;
        z-index: 2;
    }

    .dashCardNumber{
        font-size: 30px;
        z-index: 2;
    }
}

#dc1 {
    position: relative;
    background-color: #4da3ff;
}

#dc2 {
    position: relative;
    background-color: #ffe6ac;
}

#dc3 {
    position: relative;
    background-color: #e7d1fc;
}

body.dark #dc1::after {
    content: "";
    background-color: #000000a0;
    position: absolute;
    inset: 0;
    border-radius: inherit;
}

body.dark #dc2::after {
    content: "";
    background-color: #000000a0;
    position: absolute;
    inset: 0;
    border-radius: inherit;
}

body.dark #dc3::after {
    content: "";
    background-color: #000000a0;
    position: absolute;
    inset: 0;
    border-radius: inherit;
}

#recentActivity {
    .myIcon {
        width: 4rem;
    }
}

.users{

    width: 100%;
    height: 400px;
    padding-right: 50px;
    margin-top: 30px;

    th {
        text-align: left;
    }

    .name {
        width: 25%;
    }

    .email {
        width: 35%;
    }

    .joined {
        width: 20%;
    }

    .type {
        width: 15%;
    }
}


@media (max-width : 920px) {
    #dashCards {
        grid-template-columns: auto;
    }

    #main-links li a, #bottom-links li a {
        justify-content: center;
        padding-left: 0;
    }

    .sidebarText {
        display: none;
    }


}